<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AForge" version="2.2.5" targetFramework="net462" />
  <package id="AForge.Controls" version="2.2.5" targetFramework="net461" />
  <package id="AForge.Imaging" version="2.2.5" targetFramework="net462" />
  <package id="AForge.Math" version="2.2.5" targetFramework="net462" />
  <package id="AForge.Video" version="2.2.5" targetFramework="net462" />
  <package id="AForge.Video.DirectShow" version="2.2.5" targetFramework="net462" />
  <package id="Emgu.CV" version="4.5.3.4721" targetFramework="net461" />
  <package id="Extended.Wpf.Toolkit" version="4.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net461" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net461" />
  <package id="UwpDesktop" version="10.0.14393.3" targetFramework="net461" />
  <package id="WpfAnimatedGif" version="2.0.2" targetFramework="net462" />
</packages>